.footer {
  height: fit-content;
  width: 100%;
  padding: 40px;
  background-color: #222222;
  color: #fff;
  display: grid;
  grid-template-columns: 400px 300px 350px 350px;
  justify-content: center;
  .footer__contact {
    padding: 20px;
    justify-content: center;
    .footer__contact__title {
      color: #fff;
      font-size: 15px;
      margin: 20px 0;
    }
    .footer__contact__text {
      color: #838282;
      font-size: 13px;
      margin: 20px 0;
    }
    .footer__contact__social {
      display: flex;
      margin: 20px 0;
      .footer__contact__social__icon {
        background-color: #838282;
        margin: 0 5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
          width: 12px;
        }
      }
    }
    .footer__contact__text {
      display: flex;
      justify-content: space-between;
      .footer__contact__text__chunk {
        p:nth-child(1) {
          color: #fff;
          font-size: 14px;
          margin: 20px 0;
        }
        p {
          font-size: 13px;
          margin: 5px 0;
        }
      }
    }
  }
  .footer__flicker {
    padding: 20px;
    justify-content: center;
    p {
      font-size: 15px;
      margin: 20px 0;
    }
    .footer__flicker__feeds {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1fr, 3);
      grid-gap: 10px;
      img {
        cursor: pointer;
      }
    }
  }
  .footer__tweets {
    padding: 20px;
    justify-content: center;
    .footer__tweets__title {
      color: #fff;
      font-size: 15px;
      margin: 20px 0 10px;
    }
    .footer__tweets__container {
      display: flex;
      flex-direction: column;
      .footer__tweet {
        margin: 10px 0;
        .footer__tweet__content {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          img {
            width: 15px;
            margin-right: 15px;
          }
          p {
            color: #888888;
            font-size: 13px;
          }
        }
        .footer__tweet__info {
          margin-left: 34px;
          .tweet__date {
            color: #555555;
            font-size: 12px;
            margin-right: 10px;
          }
          .tweet__user {
            color: #aaaaaa;
            font-size: 12px;
          }
        }
      }
    }
  }
  .footer__categories {
    padding: 20px 0;
    margin: 0 40px;
    .footer__categories__title {
      font-size: 15px;
      padding: 20px 0;
    }
    .footer__categories__item {
      font-size: 13px;
      color: #aaaaaa;
      border-bottom: 1px solid #373737;
      width: 150px;
      padding: 8px 0;
      cursor: pointer;
      &:hover {
        color: #ddd;
      }
    }
  }
}

.footer__bottom {
  background-color: #222222;
  border-top: 1px solid #333;
  color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 13px;
  color: #838282;
  padding: 20px;
}

@media screen and(max-width:1600px) {
  .footer {
    justify-content: space-around;
    grid-template-columns: 400px 300px;
  }
}
@media screen and(max-width:850px) {
  .footer {
    justify-content: space-around;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    .footer__contact {
      width: 400px;
    }
    .footer__flicker {
      width: 300px;
    }
    .footer__tweets {
      width: 400px;
    }
  }
}
@media screen and(max-width:768px) {
  .footer {
    padding: 40px 0;
    .footer__contact {
      width: 100vw;
      max-width: 400px;
    }
    .footer__flicker {
      width: 100vw;
      max-width: 300px;
    }
    .footer__tweets {
      width: 100vw;
      max-width: 400px;
    }
  }
}
