.header {
  height: 660px;
  font-family: "Roboto-Regular", Helvetica, Arial;
  font-size: 40px;
}
.swiper {
  width: 100%;
  height: 100%;
  .swiper-button-prev,
  .swiper-button-next {
    width: 10px;
    height: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #000000;
    outline: 0;
    padding: 20px 15px;
    opacity: 0.6;
    &::after {
      font-size: 10px;
    }
  }

  .swiper-button-prev {
    &:after {
      position: relative;
      left: -1px;
    }
  }

  .swiper-button-next {
    &:after {
      position: relative;
      left: 1px;
    }
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0.7;
    cursor: auto;
    pointer-events: none;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header--swiper__card {
  position: absolute;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .header--swiper__card__head {
    font-size: 40px;
    margin-bottom: 60px;
    font-weight: 600;
  }
  .header--swiper__card__text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .header--swiper__card__buttons {
    button:first-of-type {
      background-color: #5cc8c5;
      height: 40px;
      width: 120px;
      border: none;
      border-radius: 5px;
      color: #fff;
      text-transform: uppercase;
      margin: 0 10px;
      cursor: pointer;
    }
    button {
      height: 40px;
      width: 120px;
      border: none;
      border-radius: 5px;
      color: #fff;
      text-transform: uppercase;
      border: 1px solid #fff;
      background-color: transparent;
      margin: 0 10px;
      cursor: pointer;
    }
  }
}

@media screen and(max-width:768px) {
  .header--swiper__card {
    .header--swiper__card__head {
      font-size: 20px;
      margin-bottom: 60px;
      font-weight: 600;
    }
    .header--swiper__card__text {
      font-size: 16px;
    }
    .header--swiper__card__buttons {
      button {
        font-size: 12px;
        width: 100px;
      }
    }
  }
}
