* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}

.swiper-button-prev,
.swiper-button-next {
  width: 10px;
  height: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #000000;
  outline: 0;
  padding: 20px 15px;
  opacity: 0.6;
  &::after {
    font-size: 10px;
  }
}

.swiper-button-prev {
  &:after {
    position: relative;
    left: -1px;
  }
}

.swiper-button-next {
  &:after {
    position: relative;
    left: 1px;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}
