.navbar {
  position: sticky;
  top: 0;
  z-index: 9999999;
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 400px 1fr 100px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  .navbar__logo {
    font-family: "Roboto-Regular", Helvetica, Arial;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      color: #444444;
    }
  }
  .navbar__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    justify-self: center;
    font-family: "Roboto", Helvetica, Arial;
    li {
      list-style: none;
      font-size: 13px;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      position: relative;
      .navbar__dropdown--active {
        display: flex !important;
      }
      .navbar__dropdown {
        background-color: #fff;
        padding: 10px;
        position: absolute;
        height: 150px;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        font-size: 10px;
        color: #999;
        width: 150px;
        border: 1px solid #ddd;
        top: 40px;
        p {
          border-bottom: 1px solid #ddd;
          padding: 5px 0;
          &:hover {
            color: #5cc8c5;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      a {
        text-decoration: none;
        color: #999999;
      }
    }
  }
  .navbar__search {
    background-color: #f3f3f3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    img {
      width: 20px;
    }
    .navbar__popup--active {
      transform: translateX(0%) !important;
    }
    .navbar__search__popup {
      transform: translateX(200%);
      transition: transform 0.5s ease-in;
      position: absolute;
      right: 0px;
      top: 81px;
      z-index: 9999;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      padding: 40px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      border-radius: 10px 0 0 30px;
      input {
        border: none;
        border-bottom: 1px solid #999999;
        font-size: 13px;
        &:focus {
          outline: none;
        }
      }

      img {
        width: 20px;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
  .navbar__burger {
    cursor: pointer;
    display: none;
    div {
      width: 25px;
      height: 2px;
      margin: 6px;
      background-color: #444444;
      transition: all 0.3s ease;
    }
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    grid-template-columns: 150px 1fr 100px;
    .navbar__logo {
      font-size: 40px;
    }
    .navbar__links {
      width: 80%;
    }
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    .navbar__logo {
      font-size: 35px;
    }
    .navbar__search {
      .navbar__search__popup {
        right: 80px;
        top: 80px;
        border-radius: 0 10px 40px 0;
        transform: translateX(-10%);
        transition: transform 0.5s ease-in;
      }
      .navbar__popup--active {
        transform: translateX(100%) !important;
      }
    }
    .navbar__links {
      position: absolute;
      right: 0px;
      height: 90vh;
      top: 80px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 300px;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      .navbar__links {
        li {
          opacity: 0;
        }
      }
    }
    .navbar__links--active {
      transform: translateX(0%);
    }
    .navbar__search {
      width: 80px;
      img {
        width: 20px;
      }
    }
    .navbar__burger {
      display: block;
    }
    .navbar__burger__toggle {
      .navbar__burger__line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      .navbar__burger__line2 {
        opacity: 0;
      }
      .navbar__burger__line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }
}

@keyframes navbarLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX((0px));
  }
}
