.news {
  width: 100%;
  height: 100px;
  background-color: #52a7dd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #fff;
  .news__text {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .news {
    font-size: 18px;
  }
}
