.portfolio {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  .portfolio__text {
    font-size: 13px;
    color: #686868;
    margin: 0 0 40px;
    width: 500px;
    text-align: center;
  }
  .portfolio__title {
    font-size: 20px;
    color: #444444;
    margin: 40px 0 10px;
  }
  .portfolio__tabs {
    margin: 40px 0 40px;
    .portfolio__tabs--active {
      color: #5cc8c5;
      border: 1px solid #5cc8c5;
      transition: all 0.3s ease-in-out;
    }
    button {
      border: 1px solid #d2d2d2;
      color: #686868;
      background-color: transparent;
      padding: 8px 12px;
      margin: 0 5px;
      cursor: pointer;
    }
  }
  .portfolio__tabs__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 40px;
    .portfolio__tabs__chunk {
      width: 300px;
      height: 350px;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      position: relative;
      cursor: pointer;
      &:hover > .portfolio__chunks__active {
        display: flex;
        transition: all 0.5s ease-in-out;
      }
      .portfolio__chunks__active {
        background-color: #5cc8c5;
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0.9;
        color: #fff;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .portfolio__chunk__name__active {
          font-size: 15px;
        }
        .portfolio__chunk__category__active {
          font-size: 13px;
        }
      }
      .portfolio__chunk__img {
        img {
          width: 100%;
        }
      }
    }
    .portfolio__chunk__name {
      color: #444444;
      font-size: 15px;
      margin: 20px 0 10px;
    }
    .portfolio__chunk__category {
      color: #999999;
      font-size: 13px;
    }
  }
}
