.testimonials {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 100px 40px;
  background-color: #eee;
  .testimonials__swiper {
    width: 80%;
    height: 100%;
    .swiper-button-prev,
    .swiper-button-next {
      width: 10px;
      height: 10px;
      border-radius: 4px;
      color: #fff;
      background-color: #000000;
      outline: 0;
      padding: 20px 15px;
      opacity: 0.3;
      &::after {
        font-size: 10px;
      }
    }

    .swiper-button-prev {
      &:after {
        position: relative;
        left: -1px;
      }
    }

    .swiper-button-next {
      &:after {
        position: relative;
        left: 1px;
      }
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      left: 10px;
      right: auto;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      right: 10px;
      left: auto;
    }

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
      opacity: 0.3;
      cursor: auto;
      pointer-events: none;
    }

    .testimonials__swiper__slide {
      text-align: center;
      font-size: 18px;
      background: transparent;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      flex-direction: column;
      -ms-flex-direction: column;
      .testimonials__title {
        color: #444444;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .testimonials__text {
        color: #686868;
        font-size: 13px;
        margin-bottom: 60px;
      }
      .testimonials__content {
        color: #686868;
        font-size: 16px;
        width: 70%;
        margin-bottom: 40px;
      }
      .testimonials__author {
        font-size: 13px;
        color: #686868;

        span {
          font-size: 15px;
          color: #444444;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .testimonials {
    padding: 40px 10px;
    .testimonials__swiper {
      width: 100%;
    }
  }
}
